<section id="2017" class="2017 vertical-center">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <img class="img-responsive" src="/img/flyer.2017.png"  alt="flyer"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC_n66N3kryOCYSDmY99xEJNg1_FoGPuVw'></script><div style='overflow:hidden;height:440px;width:80%;'><div id='gmap_canvas' style='height:440px;width:400px;'></div>style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(47.243315556368856,-1.5512104369137236),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(47.24352,-1.55152)});infowindow = new google.maps.InfoWindow({content:'<img width="100" src="/img/logo.svg"/>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      Plus d'info sur notre page facebook!
    </div>
  </div>

  <!-- /.container -->
</section>
