<section id="avantages" class="avantages">
  <div class="container ">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <h2>Economique</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
          </span>

          <p>
            Pas de carburant, Pas d'assurance, peu d'entretien!<br>
            Un vélo cargo a un coût d'usage ridicule (environ 150€/an pour un modèle électrique)!
          </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <h2>Rapide</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
          </span>

          <p>
            En ville, la vitesse moyenne d'un vélo est de 15km/h et de 16km/h pour une voiture.
            Pas de problème de parking, possibilité d'emprunter les contre-sens cyclables!
          </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <h2>Gardez la santé</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
          </span>

          <p>
            En effectuant vos trajets à vélo, vous effectuez l'effort physique nécessaire pour rester en bonne santé!
          </p>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <h2>Pratique</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>

          <p>
            Avec une capacité de 100kg pour un biporteur, vous pouvez transportez vos enfants, mais égalements vos courses, ou divers choses!
          </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <h2>Rapide</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
          </span>

          <p>
            En ville, la vitesse moyenne d'un vélo est de 15km/h et de 16km/h pour une voiture.
            Pas de problème de parking, possibilité d'emprunter les contre-sens cyclables!
          </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <h2>Gardez la santé</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
          </span>

          <p>
            En effectuant vos trajets à vélo, vous effectuez l'effort physique nécessaire pour rester en bonne santé!
          </p>
      </div>
    </div>
  </div>

</section>
