<section id="avantages" class="avantages">


  <div class="text-center">

    <h1 class="text-center">Les avantages d'un vélo cargo en ville!</h1>

    <div class="avantagecontainer">
      <div class="flexavantageitem">
          <h2>Economique</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-eur fa-stack-1x fa-inverse "></i>
          </span>

          <div>
            Pas de carburant, Pas d'assurance, peu d'entretien!<br>
            Un vélo cargo a un coût d'usage ridicule (environ 150€/an pour un modèle électrique)!
          </div>
      </div>

      <div class="flexavantageitem">
          <h2>Rapide</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
          </span>

          <div>
            En ville, la vitesse moyenne d'un vélo est de 15km/h et de 16km/h pour une voiture.
            Pas de problème de parking, possibilité d'emprunter les contre-sens cyclables!
          </div>
      </div>

      <div class="flexavantageitem">
          <h2>Bon pour la santé</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
          </span>

          <div>
            En effectuant vos trajets à vélo, vous effectuez l'effort physique nécessaire pour rester en bonne santé!
          </div>
      </div>

    <!-- </div>
    <div class="avantagecontainer"> -->

      <div class="flexavantageitem">
          <h2>Pratique</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>

          <div>
            Avec une capacité de 100kg pour un biporteur, vous pouvez transportez vos enfants, mais égalements vos courses, ou divers choses!
          </div>
      </div>

      <div class="flexavantageitem">
          <h2>Ecologique</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
          </span>
          <div>
            Ne subissez pas la politique de la métropole qui rend la voiture de plus en plus contraignante!
          </div>
      </div>

      <div class="flexavantageitem">
          <h2>Convivial</h2>
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
          </span>
          <div>
            Le vélo cargo vous fera profiter de son capital "sympathie". Les gens vous sourient!
          </div>
      </div>

    </div>
    <div class="text-center">
        <a href="#about" class="navdown"><i class="fa fa-angle-double-down animated"></i></a>
      </div>
  </div>

</section>
