<footer id="contact" class="vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="logo" alt="nantes cargo bike logo" src="../img/logo.svg"/>

        <h2>{{ site.owner }}</h2>

     
        <br>
        <div class="flexrowcontainer">
            <a class="flexsmallitem" target="_blank" href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            <a class="flexsmallitem" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            <a class="flexsmallitem" target="_blank" href="https://www.youtube.com/channel/UCRfIx2vU_9oZsBBK0S9RnCw"><i class="fa fa-youtube fa-fw fa-3x"></i></a>
        </div>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </hr>
      </div>
    </div>
  </div>
</footer>
