<header id="top" class="header">
  <div class="text-vertical-center">
    <img class="logo" alt="nantes cargo bike logo" src="../img/logo.svg">
    <h1>Nantes Cargo Bike</h1>
    <h2>promotion du vélo cargo dans la métropole nantaise</h2>
    <br>
    <div class="social">
      <ul class="list-inline ">
        <li>
          <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCRfIx2vU_9oZsBBK0S9RnCw"><i class="fa fa-youtube fa-fw fa-3x"></i></a>
        </li>
      </ul>
    </div>
    <a href="#avantages" class="navdown"><i class="fa fa-angle-double-down animated"></i></a>
  </div>
</header>
