<header id="top" class="header vertical-center">
  <div class="prefadein container text-center">
    <div class="row">
          <img class="logo" alt="nantes cargo bike logo" src="../img/logo.svg">
    </div>

    <div class="row">
      <h1>Nantes Cargo Bike</h1>
    </div>
    <div class="row">
      <h2>promotion du vélo cargo dans la métropole nantaise</h2>

     <h2>L'association a été dissoute. Nous vous conseillons de prendre conseil auprès des associations locales telles que Place au vélo et Les boites à vélo ou Nantes Métropole.
    </h2> 
    </div>

    <br/>
    <div class="row social">
      <div class="text-center flexrowcontainer">
        <a class="flexsmallitem" target="_blank" href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
        <a class="flexsmallitem" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
        <a class="flexsmallitem" target="_blank" href="https://www.youtube.com/channel/UCRfIx2vU_9oZsBBK0S9RnCw"><i class="fa fa-youtube fa-fw fa-3x"></i></a>
      </div>

    </div>

    <!-- <div class="row">
      <a href="#avantages" class="navdown"><i class="fa fa-angle-double-down animated"></i></a>
    </div> -->
  </div>
</header>
