<a id="menu-toggle" href="#" class="btn btn-sidebar btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-sidebar btn-lg pull-right toggle"><i class="fa fa-bars"></i></a>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Accueil</a>
    </li>
    <li>
      <a href="#avantages" onclick = $("#menu-close").click(); >A Propos</a>
    </li>
    <li>
      <a href="#ncb2016" onclick = $("#menu-close").click(); >Meeting 2016</a>
    </li>

    <li>
      <a href="#ncb2015" onclick = $("#menu-close").click(); >Meeting 2015</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
