{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

  <nav>
      <ul>
        <li id="menuhome"><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li id="menuabout"><a href="/#about"><i class="fa fa-bicycle"></i>About</a></li>
      </ul>
  </nav>
  <header id="header" role="banner">{% include header.html %}</header>

  <header id="about" role="banner" class="presentation">
    <div class="btn-circle">
      <a href="#" >
         <i class="fa fa-angle-double-up animated"></i>
      </a>
    </div>

    {% capture presentation %}{% include _partials/presentation.markdown %}{% endcapture %}
    {{ presentation | markdownify }}

    <div class="btn-circle">
      <a href="#" >
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
  </header>

  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
