body > header {
  background: $header-bg;

  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;

  .logo {
      height: $header-font-size * 8;
  }

  h1 {
  	font-family: 'Terminal Dosis';
  	font-size: $header-font-size * 3.5;
  	font-weight: 900;
  }

  .social{
    vertical-align: middle;

    a img {
      height: $header-font-size*3;
      line-height: $header-font-size*3;
      vertical-align: middle;
    }

    a > img:hover{
      opacity: 0.5;
    }
  }
}
