body > header {
  background: $header-bg;
  height:100%;
  transition:all 1s ease;

  background-image:  image-url('bgheader.jpg');
  background-size: cover;
  text-align: center;

  padding-left: 1em;
  padding-right: 1em;

  text-color: white;
  color: white;

  .logo {
      height: $header-font-size * 8;
  }

  h1 {
  	font-family: 'Terminal Dosis';
  	font-size: $header-font-size * 3.5;
  	font-weight: 900;
    margin-bottom: 0;
  }

  h2 {
  	font-family: 'Terminal Dosis';
  	font-size: $header-font-size * 1.5;
  	font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 1em;
  }

  a, a:visited{
    color: white;
  }

  a:hover{
    color: grey;
  }

  .btn-circle{
    font-size: $header-font-size * 3.5;
    text-align: center;
  }

  .social{
    vertical-align: middle;
    padding: 3em;
  }
}

body > header.presentation {
    //background-color: #D0F3F3;
    //background-image:  image-url('bgpresentation.jpg');
    //background-size: cover;
    background-image: none;
    background-color: #1D708E;
    color: white;
    height:auto;

    @include transition(all 1s ease-in-out);


    h1 {
      font-family: 'Terminal Dosis';
      font-size: $header-font-size * 3.5;
      font-weight: 600;
      text-align: center;
    }

    text-align: justify;
}
