// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* from classic for syntax */

article p{
  text-align:justify;
  color: $article-color;
}






.partenaire span {
  padding: 10px;
}

.partenaire span a {
  white-space: normal;
}

.partenaire span a img{
  $partenaire-height: 150px;
  max-height: $partenaire-height;
  height: $partenaire-height;
  line-height: $partenaire-height;
}
