// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* from classic for syntax */

article p{
  text-align:justify;
  color: $article-color;
}

$header-font-siz: 1.5em;

body > header {
  //width: 90%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom: 0px;
}

.logo
{
  width:80%;
  height:auto;
}


.partenaire span {
  padding: 10px;
}

.partenaire span a {
  white-space: normal;
}

.partenaire span a img{
  $partenaire-height: 150px;
  max-height: $partenaire-height;
  height: $partenaire-height;
  line-height: $partenaire-height;
}

